:root {
  --text-color: #262626;
  --text-light-color: #8e8e8e;
  --text-light-second-color: #737373;
  --text-light-third-color: #c7c7c7;

  --blue-color: #0095f6;

  --body-bg-color: #fafafa;
  --bg-color: #ffffff;

  --border-color: #dbdbdb;

  --input-bg-color: #efefef;
}
